/* Write your CSS here */
* {
  font-family: 'Roboto';
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #f9d423, #e2a139);
  height: 100vh;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 12px;
  padding: 86px;
  padding-top: 42px;
  padding-bottom: 42px;
}

.toss-img {
  width: 247px;
  margin-bottom: 28px;
}

.heading {
  color: #a35200;
  font-size: 42px;
}

.choose {
  font-size: 30px;
  color: #334155;
  font-weight: 500;
}

.toss-btn {
  color: #a35200;
  background-color: #f9d423;
  border-radius: 7px;
  border: none;
  padding: 10px;
  outline: none;
  margin-bottom: 28px;
}

.toss-details-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #475569;
}

.count{
  margin-left: 38px;
  margin-right: 14px;
  font-weight: 500;
}
